// Import all of Bootstrap's CSS
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

// ===== VARIABLES =====
$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate-cyan: hsl(168, 34%, 41%);
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

* {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;

    > img {
      height: 33px;
      width: 170px;
    }

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 2.5rem;
      color: $White;
    }

    button {
      border: none;
      border-radius: 28px;
      color: $Very-dark-desaturated-blue;
      padding: 1rem 2rem;
      font-family: "Fraunces";
      font-size: 15px;
      font-weight: 700;
      line-height: 25px;
    }
  }

  > h1 {
    font-family: "Fraunces";
    font-size: 56px;
    font-weight: 900;
    line-height: 69px;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: $White;
  }

  > img {
    height: 107px;
    width: 30px;
  }
}

.learn-more {
  &__first-line,
  &__second-line {
    display: flex;

    > img {
      width: 50%;
    }
  }

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding-left: 10rem;

    h1 {
      font-family: "Fraunces";
      font-size: 40px;
      font-weight: 900;
      line-height: 49px;
      color: $Very-dark-desaturated-blue;
    }

    p {
      line-height: 30px;
      max-width: 448px;
      color: $Dark-grayish-blue;
    }

    a {
      color: $Very-dark-desaturated-blue;
      font-family: "Fraunces";
      font-size: 15px;
      font-weight: 900;
      line-height: 25px;
      letter-spacing: 1px;
      border-bottom: 3px;
    }

    &--border-yellow {
      text-decoration: underline solid $Yellow 4px;
    }

    &--border-red {
      text-decoration: underline solid $Soft-red 4px;
    }
  }
}

.fruits {
  display: flex;
  height: 650px;

  &__graphic-design {
    width: 50%;
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 450px 190px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 28px;
      font-weight: 900;
      line-height: 35px;
      margin-bottom: 1.5rem;
      color: #24554a;
    }

    p {
      max-width: 339px;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 600;
      line-height: 27px;
      text-align: center;
      color: $Dark-moderate-cyan;
    }
  }

  &__photography {
    width: 50%;
    background-image: url("./images/desktop/image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 450px 190px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 28px;
      font-weight: 900;
      line-height: 35px;
      margin-bottom: 1.5rem;
      color: #205269;
    }

    p {
      max-width: 339px;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 600;
      line-height: 27px;
      text-align: center;
      color: $Dark-blue;
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  padding: 10rem;

  h3 {
    text-align: center;
    margin-bottom: 81px;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 5px;
    color: $Grayish-blue;
  }

  &__cards-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 58px;
      border-radius: 50%;
    }

    p {
      margin-bottom: 69px;
      text-align: center;
      max-width: 368px;
      color: $Very-dark-grayish-blue;
    }

    h4 {
      margin-bottom: 9px;
      font-size: 18px;
      font-weight: 900;
      line-height: 22px;
      text-align: center;
    }

    span {
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 25px;
      text-align: center;
      color: $Grayish-blue;
    }
  }
}
